/*
/*  Gites de wallonie
/*
/*  By Affinitic 2009
/*
*/
body {
 background-color:#df8a20;
  background-image:url(fond_col_lat_droite.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
}


/*** GITES HEADER ***/
#header-gites{
margin-left:auto;
margin-right:auto;
background-color:#ecf6eb;
background-image:url(fond-bandeau.png);
background-repeat:no-repeat;
width:960px;
height:156px;
border-left:1px solid #086038;
border-right:1px solid #086038;
}
#bordue-ombre-menu-maison {
background-color:#EBF7EB;
background-image:url(pied_bandeau.png);
background-position:center bottom;
background-repeat:repeat-x;
height:20px;
width:960px;
/*border-left:1px solid #555;
border-right:1px solid #555;*/
}

#gites-logo{
}

/***menu-maison***/

#menu-maison{
position:relative;
top:107px;
width:960px;
height:41px;
}

#menu-maison td {
text-align:center;
}

#btn-maison-jaune a{
display:block;
width:47px;
height:41px;
background-image:url(maison_jaune.png);
background-repeat:no-repeat;
border:1px solid #f00; /*#ecf6eb;*/
margin:auto;
}
#btn-maison-jaune a:hover{
background-image:url(maison_jaune.png);
border:1px solid #d5dfd4;
}

#btn-maison-verte a{
display:block;
width:47px;
height:41px;
background-image:url(maison_verte.png);
border:1px solid #ecf6eb;
margin:auto;
}
#btn-maison-verte a:hover{
background-image:url(maison_verte.png);
border:1px solid #d5dfd4;
}

#btn-maison-bleue a{
display:block;
width:47px;
height:41px;
background-image:url(maison_bleue.png);
border:1px solid #ecf6eb;
margin:auto;
}
#btn-maison-bleue a:hover{
background-image:url(maison_bleue.png);
border:1px solid #d5dfd4;
}

#btn-maison-rouge a{
display:block;
width:47px;
height:41px;
background-image:url(maison_rouge.png);
border:1px solid #ecf6eb;
margin:auto;
}
#btn-maison-rouge a:hover{
background-image:url(maison_rouge.png);
border:1px solid #d5dfd4;
}

#btn-maison-rose a{
display:block;
width:47px;
height:41px;
background-image:url(maison_rose.png);
border:1px solid #ecf6eb;
margin:auto;
}
#btn-maison-rose a:hover{
background-image:url(maison_rose.png);
border:1px solid #d5dfd4;
}


/*** TABLEAU CONTENU***/
#portal-columns{
width:961px !important;
margin-left:auto;
margin-right:auto;
border-left:1px solid #086038;
border-right:1px solid #086038;
}


.documentContent {
  background-color:#fff;
  background-image: url(lecoq.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  font-size:110%;
  padding:1em 0em 1em 0em;
  /*height:100%;*/
}
