/*
/*  Gites de Wallonie asbl.
/*
/*  By Affinitic 2009
/*
*/

.sejour_fute_container #title{
font-size:16px;
font-weight:bold;
}
.sejour_fute_container fieldset{
margin-top:10px;
padding-top:10px;
}

#div_sejours_futes{
width:99.5%;
float:left;
}

.sejour_fute_container #description{
font-size:11px;
font-weight:bold;
color:black;
text-decoration:none;
}
.sejour_fute_container #logo{
float: left;
vertical-align:text-top;
margin-right: 10px;
margin-bottom: 2px;
}

#currentItem {
background-image:url(p_lat_gauche_selected.gif);
background-repeat:repeat-y;
}
